* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: black;
  
  }
  
  #box {
    background: rgb(58, 58, 58);
    height: 800px;
    width: 800px;
    border: 2px solid white;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 100px; */
    overflow: hidden;
  }
  
  #bars {
    height: 800px;
    width: 50px;
    /* border: 2px solid  white; */
    background: black;
    position: relative;
    animation: motion 2s linear infinite reverse;
  }
  
  #holes {
    top: -800px;
    background: rgb(58, 58, 58);
    height: 40vh;
    width: 50px;
    position: relative;
    animation: motion 2s linear infinite reverse;
  }
  
  #bird{
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 17px;
    position: absolute;
    top: 110px;
    left: 430px;
  }
  
  @keyframes motion {
    0%{left: 0;}
    100%{left: 50vw}
  }